*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.idea/
*.iml
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
.fvm/
/output/ios-diagnostics/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
coverage/
app.*.symbols
app.*.map.json
/android/app/debug
/android/app/profile
/android/app/release
/output/releases/
